--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: drizzle; Type: SCHEMA; Schema: -; Owner: demo_user
--

CREATE SCHEMA drizzle;


ALTER SCHEMA drizzle OWNER TO demo_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __drizzle_migrations; Type: TABLE; Schema: drizzle; Owner: demo_user
--

CREATE TABLE drizzle.__drizzle_migrations (
    id integer NOT NULL,
    hash text NOT NULL,
    created_at bigint
);


ALTER TABLE drizzle.__drizzle_migrations OWNER TO demo_user;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE; Schema: drizzle; Owner: demo_user
--

CREATE SEQUENCE drizzle.__drizzle_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNER TO demo_user;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: drizzle; Owner: demo_user
--

ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNED BY drizzle.__drizzle_migrations.id;


--
-- Name: boats_id_seq; Type: SEQUENCE; Schema: public; Owner: demo_user
--

CREATE SEQUENCE public.boats_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.boats_id_seq OWNER TO demo_user;

--
-- Name: boats; Type: TABLE; Schema: public; Owner: demo_user
--

CREATE TABLE public.boats (
    id integer DEFAULT nextval('public.boats_id_seq'::regclass) NOT NULL,
    owner_id integer NOT NULL,
    name character varying NOT NULL,
    type character varying NOT NULL,
    description text NOT NULL,
    length integer NOT NULL,
    capacity integer NOT NULL,
    daily_rate numeric NOT NULL,
    location character varying NOT NULL,
    images text[],
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    image_url text,
    rating numeric DEFAULT 0,
    purpose text DEFAULT 'N/A'::text NOT NULL
);


ALTER TABLE public.boats OWNER TO demo_user;

--
-- Name: bookings_id_seq; Type: SEQUENCE; Schema: public; Owner: demo_user
--

CREATE SEQUENCE public.bookings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bookings_id_seq OWNER TO demo_user;

--
-- Name: bookings; Type: TABLE; Schema: public; Owner: demo_user
--

CREATE TABLE public.bookings (
    id integer DEFAULT nextval('public.bookings_id_seq'::regclass) NOT NULL,
    user_id character varying NOT NULL,
    boat_id integer NOT NULL,
    total_amount numeric NOT NULL,
    secret_key character varying(7),
    payment_status character varying,
    stripe_payment_intent_id character varying,
    created_at time with time zone DEFAULT now(),
    updated_at time with time zone DEFAULT now(),
    checkin_date date NOT NULL,
    checkout_date date NOT NULL,
    guests numeric NOT NULL,
    special_requests text,
    owner_status text,
    status text
);


ALTER TABLE public.bookings OWNER TO demo_user;

--
-- Name: contacts_id_seq; Type: SEQUENCE; Schema: public; Owner: demo_user
--

CREATE SEQUENCE public.contacts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.contacts_id_seq OWNER TO demo_user;

--
-- Name: contacts; Type: TABLE; Schema: public; Owner: demo_user
--

CREATE TABLE public.contacts (
    id integer DEFAULT nextval('public.contacts_id_seq'::regclass) NOT NULL,
    first_name character varying NOT NULL,
    last_name character varying NOT NULL,
    email character varying NOT NULL,
    subject character varying NOT NULL,
    message text NOT NULL,
    status character varying DEFAULT '1'::character varying,
    created_at time with time zone DEFAULT now()
);


ALTER TABLE public.contacts OWNER TO demo_user;

--
-- Name: owner_requests; Type: TABLE; Schema: public; Owner: demo_user
--

CREATE TABLE public.owner_requests (
    id integer NOT NULL,
    user_id integer,
    first_name text NOT NULL,
    last_name text NOT NULL,
    email text NOT NULL,
    phone_number text NOT NULL,
    address text NOT NULL,
    government_id text NOT NULL,
    government_id_num text,
    date_of_birth date NOT NULL,
    business_name text NOT NULL,
    boat_name text NOT NULL,
    boat_type text NOT NULL,
    boat_length integer NOT NULL,
    boat_capacity integer NOT NULL,
    registration_number text NOT NULL,
    hull_identification_number text NOT NULL,
    state_of_registration text NOT NULL,
    insurance_details text NOT NULL,
    daily_rate numeric(10,2) NOT NULL,
    purpose text NOT NULL,
    business_license text,
    insurance_certificate text,
    marina_location text,
    description text,
    status text DEFAULT 'pending'::text NOT NULL,
    admin_notes text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    owner_id numeric(7,0) NOT NULL,
    password character varying NOT NULL,
    tax_id text
);


ALTER TABLE public.owner_requests OWNER TO demo_user;

--
-- Name: owner_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.owner_requests_id_seq
    START WITH 1000
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.owner_requests_id_seq OWNER TO postgres;

--
-- Name: owner_requests_id_seq1; Type: SEQUENCE; Schema: public; Owner: demo_user
--

CREATE SEQUENCE public.owner_requests_id_seq1
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.owner_requests_id_seq1 OWNER TO demo_user;

--
-- Name: owner_requests_id_seq1; Type: SEQUENCE OWNED BY; Schema: public; Owner: demo_user
--

ALTER SEQUENCE public.owner_requests_id_seq1 OWNED BY public.owner_requests.id;


--
-- Name: owners; Type: TABLE; Schema: public; Owner: demo_user
--

CREATE TABLE public.owners (
    id integer NOT NULL,
    user_id integer,
    first_name text NOT NULL,
    last_name text NOT NULL,
    email text NOT NULL,
    phone_number text NOT NULL,
    address text NOT NULL,
    government_id text NOT NULL,
    government_id_num text,
    date_of_birth date NOT NULL,
    business_name text NOT NULL,
    boat_name text NOT NULL,
    boat_type text NOT NULL,
    boat_length integer NOT NULL,
    boat_capacity integer NOT NULL,
    registration_number text NOT NULL,
    hull_identification_number text NOT NULL,
    state_of_registration text NOT NULL,
    insurance_details text NOT NULL,
    daily_rate numeric(10,2) NOT NULL,
    purpose text NOT NULL,
    business_license text,
    insurance_certificate text,
    marina_location text,
    description text,
    status text DEFAULT 'pending'::text NOT NULL,
    admin_notes text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    owner_id numeric(7,0) NOT NULL,
    password character varying NOT NULL
);


ALTER TABLE public.owners OWNER TO demo_user;

--
-- Name: owners_id_seq; Type: SEQUENCE; Schema: public; Owner: demo_user
--

CREATE SEQUENCE public.owners_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.owners_id_seq OWNER TO demo_user;

--
-- Name: owners_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: demo_user
--

ALTER SEQUENCE public.owners_id_seq OWNED BY public.owners.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessions (
    sid character varying NOT NULL,
    sess jsonb NOT NULL,
    expire timestamp without time zone NOT NULL
);


ALTER TABLE public.sessions OWNER TO postgres;

--
-- Name: testimonials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.testimonials (
    id integer NOT NULL,
    user_id character varying NOT NULL,
    content text NOT NULL,
    rating integer NOT NULL,
    is_approved boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.testimonials OWNER TO postgres;

--
-- Name: testimonials_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.testimonials_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.testimonials_id_seq OWNER TO postgres;

--
-- Name: testimonials_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.testimonials_id_seq OWNED BY public.testimonials.id;


--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: demo_user
--

CREATE SEQUENCE public.user_id_seq
    START WITH 1000
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_id_seq OWNER TO demo_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: demo_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    user_id integer DEFAULT nextval('public.user_id_seq'::regclass) NOT NULL,
    email character varying,
    first_name character varying,
    last_name character varying,
    profile_image_url character varying,
    role character varying DEFAULT 'user'::character varying NOT NULL,
    stripe_customer_id character varying,
    stripe_subscription_id character varying,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    phone text,
    password text NOT NULL
);


ALTER TABLE public.users OWNER TO demo_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: demo_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO demo_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: demo_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: __drizzle_migrations id; Type: DEFAULT; Schema: drizzle; Owner: demo_user
--

ALTER TABLE ONLY drizzle.__drizzle_migrations ALTER COLUMN id SET DEFAULT nextval('drizzle.__drizzle_migrations_id_seq'::regclass);


--
-- Name: owner_requests id; Type: DEFAULT; Schema: public; Owner: demo_user
--

ALTER TABLE ONLY public.owner_requests ALTER COLUMN id SET DEFAULT nextval('public.owner_requests_id_seq1'::regclass);


--
-- Name: owners id; Type: DEFAULT; Schema: public; Owner: demo_user
--

ALTER TABLE ONLY public.owners ALTER COLUMN id SET DEFAULT nextval('public.owners_id_seq'::regclass);


--
-- Name: testimonials id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.testimonials ALTER COLUMN id SET DEFAULT nextval('public.testimonials_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: demo_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: __drizzle_migrations; Type: TABLE DATA; Schema: drizzle; Owner: demo_user
--

COPY drizzle.__drizzle_migrations (id, hash, created_at) FROM stdin;
\.


--
-- Data for Name: boats; Type: TABLE DATA; Schema: public; Owner: demo_user
--



--
-- Data for Name: bookings; Type: TABLE DATA; Schema: public; Owner: demo_user
--

COPY public.bookings (id, user_id, boat_id, total_amount, secret_key, payment_status, stripe_payment_intent_id, created_at, updated_at, checkin_date, checkout_date, guests, special_requests, owner_status, status) FROM stdin;
4	1367669	30	4987.5	\N	\N	\N	22:57:30.841486+05:30	22:57:30.841486+05:30	2025-06-30	2025-07-05	10		\N	\N
5	1367669	32	634.2	\N	\N	\N	23:32:12.438944+05:30	23:32:12.438944+05:30	2025-06-30	2025-07-04	19	new amenities	\N	\N
\.


--
-- Data for Name: contacts; Type: TABLE DATA; Schema: public; Owner: demo_user
--

COPY public.contacts (id, first_name, last_name, email, subject, message, status, created_at) FROM stdin;
\.


--
-- Data for Name: owner_requests; Type: TABLE DATA; Schema: public; Owner: demo_user
--



--
-- Data for Name: owners; Type: TABLE DATA; Schema: public; Owner: demo_user
--



--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sessions (sid, sess, expire) FROM stdin;
\.


--
-- Data for Name: testimonials; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.testimonials (id, user_id, content, rating, is_approved, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: demo_user
--



--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE SET; Schema: drizzle; Owner: demo_user
--

SELECT pg_catalog.setval('drizzle.__drizzle_migrations_id_seq', 1, false);


--
-- Name: boats_id_seq; Type: SEQUENCE SET; Schema: public; Owner: demo_user
--

SELECT pg_catalog.setval('public.boats_id_seq', 32, true);


--
-- Name: bookings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: demo_user
--

SELECT pg_catalog.setval('public.bookings_id_seq', 5, true);


--
-- Name: contacts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: demo_user
--

SELECT pg_catalog.setval('public.contacts_id_seq', 1, true);


--
-- Name: owner_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.owner_requests_id_seq', 1000, false);


--
-- Name: owner_requests_id_seq1; Type: SEQUENCE SET; Schema: public; Owner: demo_user
--

SELECT pg_catalog.setval('public.owner_requests_id_seq1', 2, true);


--
-- Name: owners_id_seq; Type: SEQUENCE SET; Schema: public; Owner: demo_user
--

SELECT pg_catalog.setval('public.owners_id_seq', 5, true);


--
-- Name: testimonials_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.testimonials_id_seq', 1, false);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: demo_user
--

SELECT pg_catalog.setval('public.user_id_seq', 1003, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: demo_user
--

SELECT pg_catalog.setval('public.users_id_seq', 7, true);


--
-- Name: __drizzle_migrations __drizzle_migrations_pkey; Type: CONSTRAINT; Schema: drizzle; Owner: demo_user
--

ALTER TABLE ONLY drizzle.__drizzle_migrations
    ADD CONSTRAINT __drizzle_migrations_pkey PRIMARY KEY (id);


--
-- Name: boats boats_pkey; Type: CONSTRAINT; Schema: public; Owner: demo_user
--

ALTER TABLE ONLY public.boats
    ADD CONSTRAINT boats_pkey PRIMARY KEY (id);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: demo_user
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (id);


--
-- Name: contacts contacts_pkey; Type: CONSTRAINT; Schema: public; Owner: demo_user
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT contacts_pkey PRIMARY KEY (id);


--
-- Name: owner_requests owner_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: demo_user
--

ALTER TABLE ONLY public.owner_requests
    ADD CONSTRAINT owner_requests_pkey PRIMARY KEY (id);


--
-- Name: owners owners_pkey; Type: CONSTRAINT; Schema: public; Owner: demo_user
--

ALTER TABLE ONLY public.owners
    ADD CONSTRAINT owners_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_play; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_play PRIMARY KEY (sid);


--
-- Name: testimonials testimonials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.testimonials
    ADD CONSTRAINT testimonials_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: demo_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: demo_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_user_id_key; Type: CONSTRAINT; Schema: public; Owner: demo_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_user_id_key UNIQUE (user_id);


--
-- Name: owner_requests owner_requests_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: demo_user
--

ALTER TABLE ONLY public.owner_requests
    ADD CONSTRAINT owner_requests_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: owners owners_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: demo_user
--

ALTER TABLE ONLY public.owners
    ADD CONSTRAINT owners_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- PostgreSQL database dump complete
--

